# Python
*.pyc
__pycache__/
methods/__pycache__/
venv/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log

# Compiled files
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# Datasets

#models
models/
new_models/
methods/
buffer_state/
images/
audio/
# wandb
wandb/


